body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.board-container {
	width: 300px;
	height: 300px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.box {
	border: 1px solid #000;
	width: 100px;
	cursor: pointer;
	text-align: center;
}
